<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form>
      <div class="card-content">
        <span class="card-title">Login</span>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <label for="auth_email" class="">Email address</label>
            <input type="email" class="validate" name="auth_email" id="auth_email" />
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <label for="auth_password">Password </label>
            <input type="password" class="validate" name="auth_password" id="auth_password" />
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <button class="btn waves-effect waves-light blue" type="button" name="action" onclick="auth_login()">Login</button>
      </div>
    </form>
  </div>
</div>
