<div class="row" id="tokenAuth">
    <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input placeholder="/api/login" id="login_path" type="text" class="validate" value="{{monitor.login_path}}">
        <label for="login_path">Login Path</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input placeholder="/api/items" id="monitor_path" type="text" class="validate" value="{{monitor.monitor_path}}">
        <label for="monitor_path">Monitor Path</label>
    </div>
</div>
