{% extends 'layout.html' %}

{% block content %}
<div class="row">

  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <select id="monitor_type" {% if action == 'edit' %}disabled{% endif %} onchange="monitorTypeSelect(this.value)">
          <option value="tokenAuth" {% if monitor.monitor_type == 'tokenAuth' %}selected{% endif %}>Token Auth</option>
          <option value="basicAuth" {% if monitor.monitor_type == 'basicAuth' %}selected{% endif %}>Basic Auth</option>
          <option value="noAuth" {% if monitor.monitor_type == 'noAuth' %}selected{% endif %}>No Auth</option>
        </select>
        <label>Monitor Type</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input id="name" {% if action == 'edit' %}disabled{% endif %} type="text" class="validate"
          value="{{monitor.name}}">
        <label for="name">Monitor Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">domain</i>
        <input placeholder="https://url.com" id="base_url" type="text" class="validate" value="{{monitor.base_url}}">
        <label for="base_url">Base URL</label>
      </div>
    </div>
    {% if monitor.monitor_type in ('basicAuth', 'tokenAuth') or action == 'add' %}
      {% include 'monitor_form_ba_part.html' %}
    {% endif %}
    {% if monitor.monitor_type == 'tokenAuth' or action == 'add' %}
      {% include 'monitor_form_ta_part.html' %}
    {% endif %}
    <div class="row">
      <div class="input-field col s6">
        <div class="switch">
          <label>
            Disabled
            <input type="checkbox" id="monitorEnabled" name="monitorEnabled" {% if monitor.enabled %}checked{% endif %}>
            <span class="lever"></span>
            Enabled
          </label>
        </div>
      </div>
      <div class="input-field col s3">
        <button class="btn waves-effect waves-light blue darken-2" type="button" name="action" onclick="testMonitor()">
          Test
        </button>
        <i id="test_success" hidden class="material-icons green-text">check_circle</i>
        <i id="test_error" hidden class="material-icons red-text">error</i>
      </div>
      <div class="input-field col s1 push-l2">
        {% if action == 'add' %}
        <button class="btn waves-effect waves-light blue" type="button" name="action" onclick="addNewMonitor()">
          Submit
        </button>
        {% else %}
        <button class="btn waves-effect waves-light blue" type="button" name="action"
          onclick="modifyMonitor('{{monitor.name}}')">
          Submit
        </button>
        {% endif %}
      </div>

    </div>

  </form>

</div>
{% endblock %}