{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input id="name" type="text" class="validate">
        <label for="name">Monitor Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">domain</i>
        <input placeholder="https://some-url" id="base_url" type="text" class="validate">
        <label for="base_url">Base URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input placeholder="/api/v1/login" id="login_path" type="text" class="validate">
        <label for="login_path">Login Path</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input placeholder="/api/v1/some-route" id="monitor_path" type="text" class="validate">
        <label for="monitor_path">Monitor Path</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <div class="switch">
          <label>
            Disabled
            <input type="checkbox" checked id="monitorEnabled" name="monitorEnabled">
            <span class="lever"></span>
            Enabled
          </label>
        </div>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light blue" type="button" name="action" onclick="testMonitor()">Test
          <i class="material-icons left">cloud</i>
        </button>
        <i id="test_success" hidden class="material-icons green-text">check_circle</i>
        <i id="test_error" hidden class="material-icons red-text">error</i>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light blue" type="button" name="action" onclick="addNewMonitor()">Submit
          <i class="material-icons left">send</i>
        </button>
      </div>

    </div>

  </form>
</div>
{% endblock %}